.btn {
  border: 0;
  background-color: transparent;
  color: #333;
  font-size: 1.3rem;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  opacity: 1;
}

/*  */
.sec-slider {
  background-color: #fdfdfd;
  margin: 2rem 0;
}

.sec-slider h2 {
  font-size: 1.6rem;
  letter-spacing: 0.4rem;
  text-align: center;
  color: #333;
  padding: 2rem;
}

.slider {
  position: relative;
  width: 100%;
  height: 40vw;
  margin: auto;
  overflow: hidden;
}

.slider .box-img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.8s ease-in-out;
}
.slider .img {
  width: 100%;
  height: 100%;
}
.ctrl-box {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}
.ctrl-box .btn {
  font-size: 2rem;
  color: $color-primary;
}

.ctrl-bults {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.ctrl-bults span {
  font-size: 0.8rem;
  color: #fff;
  cursor: pointer;
  margin-left: 0.5rem;
}
.ctrl-bults span .active-dot {
  color: $color-primary;
}

// @media only screen and (min-width: 800px) {
//   .slider {
//     width: 90%;
//   }
// }
